@model ME.Account.Web.Models.api.CustomerRequest
@{
    ViewBag.Title = "Home Page";
}

<div>
</div>

@using (Html.BeginForm("GetAccount", "Home", FormMethod.Post))
{
<div>
    @Html.AntiForgeryToken()

    <h4>
        @Html.LabelFor(model => model.customerId, "Customer ID: ")

        @Html.TextBoxFor(model => model.customerId, htmlAttributes: new { @class = "form-control" })
        <br />
        @Html.LabelFor(model => model.initialCredit, "Initial amount: ")

        @Html.TextBoxFor(model => model.initialCredit, htmlAttributes: new { @class = "form-control" })
        <br />

        <input type="submit" id="_submit" class="btn-info" value="Send" />

    </h4>

</div>
}